.datepicker-container{
    background-color: white;
    width: 400px;
    height: 350px;
    border-radius: 11px;
    margin: 0 auto;
    color: var(--darkgreen);
    font-family: 'ks-reg';
    position: relative;
    top: 1rem;
    right: 3.5rem;

    .calendar-container{
        width: 90%;
        margin: 0 auto;
        .month-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0rem 2rem;
            position: relative;
            top: 3rem;
        }
        .calendar-container{
            
            position: relative;
            left: 2rem;
            top: 5rem;
            .day{
                display: inline-block;
                width: 12.51%;
                line-height: 2rem;
            }
        }
    }

    

}

