.datepicker-container{
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 11px;
    margin: 0 auto;
    color: var(--darkgreen);
    font-family: 'ks-reg';
    // position: relative;
    // top: 1rem;
    // right: 3.5rem;

    .close-button{
        float: right;
    }

    button{
        border: none;
        background: none;
    }

    .calendar-container{
        width: 90%;
        margin: 0 auto;

        .month-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0rem 2rem;
            position: relative;
            top: 2rem;
        }
        .calendar-container{
            
            position: relative;
            left: 2rem;
            top: 3rem;
            .day{
                display: inline-block;
                width: 12.51%;
                line-height: 3rem;
                font-size: 14px;
            }
        }
    }

    

}

