.home-container{
    height: 100vh;
    // width: 100vw;
    background: url('/assets/images/stride-bg-cover.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 300px rgba(0,0,0,0.4) inset;
    filter: hue-rotate(5deg);
    filter: saturate(105%);
    
}