:root{
    --light-turq: #E1FFFF;
    --dark-turq: #B2EBE8;
    --green: #29D7B7;
    --darkgreen: #22B096;
    --dark-yellow-green: #7FAF6E;
    --black-green: #1e9484;
    --gray-green: #64d1bd;
}

