@font-face{
    font-family: Avenir;
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face{
    font-family: Avenir-Demi;
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face{
    font-family: ks-med;
    src: url(../assets/fonts/KarasumaGothic-Medium.otf);
}

@font-face{
    font-family: Avenir-Bold;
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face{
    font-family: ks-thin;
    src: url(../assets//fonts//KarasumaGothic-Thin.otf);
}

@font-face{
    font-family: ks-reg;
    src:url(../assets/fonts/KarasumaGothic-Regular.otf);
}

@font-face{
    font-family: mplus-med;
    src:url(../assets/fonts/Mplus1-Medium.ttf);
}

@font-face{
    font-family: mplus-reg;
    src:url(../assets/fonts/Mplus1-Regular.ttf);
}


@font-face{
    font-family: mplus-reg;
    src:url(../assets/fonts/Mplus1-Light.ttf);
}

@font-face{
    font-family: sfpro-reg;
    src:url(../assets/fonts/SFProDisplay-Regular.ttf);
}

@font-face{
    font-family: sfpro-light;
    src:url(../assets/fonts/SFProText-Light.ttf);
}

@font-face{
    font-family: sfpro-reg;
    src:url(../assets/fonts/SFProText-Regular.ttf);
}

@font-face{
    font-family: sfpro-semi;
    src:url(../assets/fonts/SFProDisplay-SemiBold.ttf);
}

@font-face{
    font-family: sfpro-thin;
    src:url(../assets/fonts/SFProDisplay-Thin.ttf);
}

@font-face{
    font-family: sfpro-ultra;
    src:url(../assets/fonts/SFProDisplay-UltraLight.ttf);
}

@font-face{
    font-family: sfpro-med;
    src:url(../assets/fonts/SFProText-Medium.ttf);
}

@font-face{
    font-family: sfpro-bold;
    src:url(../assets/fonts/SFProDisplay-Bold.ttf);
}

@font-face{
    font-family: sfpro-black;
    src:url(../assets/fonts/SFProDisplay-Black.ttf);
}