<div class="pop-dest-container">
    <p>あなたはどこへstrideしますか？</p>
    <h1>POPULAR COUNTRIES</h1>
    <div class="country-container">
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/america.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/france.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/japan.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/italy.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/china.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/thailand.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/australia.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="country">
            <div class="country-info-container">
                <img src="/assets/images/germany.png"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>America</h1>
                        <p>41 homes available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>