.host-banner-container{
    height: 480px;
    width: 80vw;
    background: linear-gradient(to right, #c5fdff, #fafc87);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    
    .host-banner-contents{
        width: 100%;
        height: 100%;
        

        .host-banner-section{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;
            
            .host-banner-text{
                height: 55%;
                color: rgb(39, 44, 43);
                
                h1{
                    font-family: "sfpro-bold";
                    letter-spacing: -1.7px;
                }
    
                p{
                    font-family: "sfpro-light";
                    line-height: 10px;
                    font-size: 14px;
                }
    
                button{
                    height: 40px;
                    width: 150px;
                    border: none;
                    background-color: black;
                    color: white;
                    font-family: "sfpro-light";
                    border-radius: 5px;
                    position: relative;
                    top: 20px;
                }

                .host-button-container{
                    width: 95%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
    
            }
    
            .host-image{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
                img{
                    position: relative;
                    top: 20px;
                    height: 390px;
                    z-index: 9999;
                    filter: contrast(130%);
                    filter: brightness(95%);
                }
            }
        }

        .rectangle{
            width: 100%;
            height: 73px;
            background-color: #68A584;
            position: relative;
            bottom: 4.5rem;
        }

        
    }

    
}