<div class="host-banner-container" #hostBanner>
    <div class="host-banner-contents">
        <div class="host-banner-section">
            <div class="host-banner-text">
                <div class="text-contents">
                    <h1>Become a host</h1>
                    <p>Hosts are the heart and soul of stride. </p>
                    <p>ホストとは stride の心臓・魂とも言える存在。</p>
                    <div class="host-button-container">
                        <button class="learn-button">Learn More</button>
                    </div>
                    
                </div>
            </div>
            <div class="host-image" #hostImage>
                <img src="/assets/images/woman-bench-4.png"/>
            </div>
        </div>
        <div #rectangle class="rectangle"></div>
        
    </div>
</div>

