<div class="host-banner-container">
    <div class="host-banner-contents">
        <div class="host-banner-section">
            <div class="host-banner-text">
                <div class="text-contents">
                    <h1>Become a host</h1>
                    <p>Hosts are the heart and soul of stride. Hosts provide housing, as well as a cultural exchange <br/> experience. As a host, whether or not you wish to take a homestay in is completely up to you. </p>
                    <button>Become a host</button>
                </div>
            </div>
            <div class="host-image">
                <img src="/assets/images/woman-bench-1.png"/>
                
            </div>
        </div>
        <div class="rectangle">

        </div>
        
    </div>
</div>

