.pop-dest-container{
    height: 60vh;
    width: 80%;
    color: var(--green);
    position: relative;
    top: 20%;
    transform: translateY(20%);
    margin: 0 auto;

    p{
        text-align: center;
        font-family: 'ks-thin';
        font-size: 14px;
        position: relative;
        top: 10px;
        letter-spacing: 0.5px;
    }

    h1{
        font-family: 'Avenir-Demi';
        
        text-align: center;
    }
        
        .country-container{
            width: 25%;
            display: inline-block;
            margin: 2rem 0;
            top: 30%;
            transform: translateY(30%);
            .country{

                .country-info-container{
                    width: 100%;
                    // height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    img{
                        height: 5.5rem;
                        
                    }
                }
                .country-text-container{
                    color: var(-green);
                    
                    .country-text{
                        display: flex;
                        flex-direction: column;
                        line-height: 6px;
                        align-items: flex-start;
                        margin: 0rem 1rem;

                        h1{
                            font-size: 18px;
                            position: relative;
                            top: 18px;
                            font-family: 'sfpro-light';
                            letter-spacing: 0.4px;
                            font-size: 20px;
                        }

                        p{

                        }
                    }
                }
            }
        }
    }

    
