<div class="pop-dest-container">
    <p>あなたはどこへstrideしますか？</p>
    <h1>POPULAR COUNTRIES</h1>
    <div class="country-container" *ngFor="let country of countries">
        <div class="country">
            <div class="country-info-container">
                <img src="{{country.image}}"/>
                <div class="country-text-container">
                    <div class="country-text">
                        <h1>{{country.name}}</h1>
                        <p>{{country.homes}} homes available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>