.home-banner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .home-text{
        img{
            height: 65%;
        }

        span{
            font-size: 2.7rem;
            font-family: 'Avenir-Bold';
            color: var(--green);
            letter-spacing: 2px;
            position: relative;
            left: 10px;
        }
    }

    


}

p{
    font-family: 'Avenir-Demi';
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    position: relative;
    bottom: 1.4rem;
    color: var(--green);
}