.home-contents-container{
}

.home-banner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .home-text{
        height: 110px;
        img{
            height: 75px;
            filter: hue-rotate(45deg);
            filter: brightness(88%);
        }
    }

    .stride-text{
        span{
            font-size: 4rem;
            font-family: 'Avenir-Bold';
            color: rgb(28, 180, 147);
            letter-spacing: -2px;
            position: relative;
            left: 10px;
            
        }
    }

    


}

p{
    font-family: 'sfpro-med';
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 1.4rem;
    color: var(--green);
}