<!-- <div class="info-bar-container">
    <div class="booking-rectangle">
        <form action="" class="booking-form">
            <div class="input-group">
                <label for="destination" class="input-label">Destination</label>
                <input type="text" class="input-field" id="destination-field">
            </div>
        </form>
    </div>
    <div class="booking-rectangle">
        <form action="" class="booking-form">
            <div class="input-group">
                <button>
                    <h1>Hello</h1>
                    <p>World</p>
                </button>
            </div>
        </form>
    </div>
    
</div> -->

<div class="booking-container">
    <div class="booking-button-bar">
        <button class="button-one" id="booking-button">
            <form action="" class="booking-form">
                <div class="input-group">
                    <label for="destination" class="input-label">Destination</label>
                    <input type="text" class="input-field" id="destination-field" value="Enter destination here">
                </div>
            </form>
        </button>
    </div>
    <div class="booking-button-bar">
        <button class="button-two" id="booking-button">
            <button class="checkin-button">
                <div class="checkin-text">
                    <h1>Check in</h1>
                    <p>Add check in dates</p>
                </div> 
            </button>
            <button class="checkin-button">
                <div class="checkin-text">
                    <h1>Check out</h1>
                    <p>Add check out dates</p>
                </div> 
            </button>
            <button class="checkin-button">
                <div class="checkin-text">
                    <h1>Check in</h1>
                    <p>Add check in dates</p>
                </div> 
            </button>

        </button>
    </div>
</div>






<app-datepicker></app-datepicker>