.booking-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .booking-button-bar{
        

        button{
            width: 30vw;
            border: none;
            border-radius: 50px;
            h1{
                font-size: 14px;
            }
        }

        .button-one{
            position: relative;
            left: 10rem;
            background-color: white;

            &:hover{
                background-color: rgb(215, 240, 237);
            }

            form{
                display: flex;

                &:hover{
                    cursor: pointer;
                }
                
                .input-group{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    line-height: 1.65rem;
                    margin: 0.61rem 1.5rem;

                    

                    label{
                        font-family: 'sfpro-semi';
                        color: var(--darkgreen);

                        &:hover{
                            cursor: pointer;
                        }
                    }

                    input{
                        font-family: 'sfpro-light';
                        border: none;
                        height: 22%;
                        background: none;
                        font-size: 12px;
                        position: relative;
                        right: 2px;
                        color: var(--green);
                        outline-width: 0;
                    }
                }
            }
        }

        .button-two{
            background-color: var(--green);
            color: white;
            position: relative;
            right: 10rem;
            display: flex;

            .checkin-button{
                width: 33.33%;
                background-color: var(--green);
                text-align: left;
                // position: relative;
                // right: 6px;

                &:hover{
                    background-color: var(--darkgreen);
                    cursor: pointer;
                }

                .checkin-text{
                    margin: 1rem 2rem;
                    line-height: 0.5rem;
                    color: white;

                    h1{
                        font-family: 'sfpro-semi';
                    }

                    p{
                        font-family: 'sfpro-light';
                        font-size: 11.5px;
                        letter-spacing: 0px;
                    }
    
                }
            }

            #search-button{
                display: flex;
                justify-content: center;
                
                #search-text{
                    font-family: 'sfpro-semi';
                    letter-spacing: 0.5px;;
                    h1{
                        font-size: 15px;
                    }
                }

                img{
                    width: 20px;
                    height: 20px;
                    // display: inline-block;
                    align-self: center;
                    position: relative;
                    left: 1.2rem;
                }
            }
        }


}}

.datepicker-window-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .datepicker-window{
        display: flex;
        
    }
}

app-datepicker{
    margin: 1rem -1rem;

}